* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

#container {
    display:flex;
    background-color: #f1f1f1;
    justify-content: space-between;
}

.filters {
    width:20%;
    height:auto;
    padding: 20px;
    background-color:#ffffff;
    margin-right:5px;
}

#fromPrice, #toPrice {
    cursor: pointer;
}

#searchBrand {
    border-bottom: 2px solid #bbbbbb;
    position:relative;
    padding: 5px 0px;
}

#searchBrand img {
    position:absolute;
    top:10%;
    left:5px;
    height:80%;
    width:20px;
}

#brandList {
    margin:10px 0px;
}

#brandName {
    border:none;
    position:relative;
    left:40px;
}

#brandName:focus {
    outline:none;
}

.brandChip {
    display: inline-block;
    text-align: left; 
    padding: 2px 10px;
    margin:3px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #dddddd;
    vertical-align: middle;
}

.closeButton {
    margin-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 12px;
    cursor: pointer;
}

.closeButton:hover {
    color: #000;
}

.colorCheckbox {
    display:block;
    margin: 8px;
    cursor: pointer;
}


.dispColor {
    border-radius : 50%;
    width:12px;
    height:12px;
    display: inline-block;
    margin: 0px 20px;
}

#products {
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#ffffff;
    margin-left:5px;
    padding:20px;
}

#productGrid {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#resultCount {
    width:95%;
    height:50px;
    margin: 10px;
}

#sortBy {
    width:95%;
    height:50px;
}

.sortButtons {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.productContainer {
    height:350px;
    width:250px;
    margin: 30px;
}

.productImgContainer {
    height:250px;
    width:100%;
    padding:30px;
}

.productImg {
    height: 190px;
    width: 190px;
}

.productDescription {
    height:100px;
    width:100%;
    font-size: 14px;
    padding: 10px;
}

.productRating {
    background-color: rgb(0, 128, 21);
    color:white;
    border-radius: 3px;
    font-size: 12px;
    display:inline-block;
    padding:2px 5px;
    margin:5px 0px;
}

.finalPrice {
    font-weight: bold;
    font-size:14px;
}

.mrp {
    font-size:12px;
    color:#777777;
    font-weight: bold;
    text-decoration: line-through;
}

.discount {
    color:rgb(0, 128, 21);
    font-size:12px;
    font-weight: bold;
}